.signin-custom {
    font-size: 25px;
    color: white;
    padding-bottom: 5px;
}

.form-group {
    width: 70% !important;
}

.input-group {
    width: 100% !important;
}

.error {
    padding-top: 20px;
    font-size: 20px !important;
    color: #e40914 !important;
}